.gameField1 {
    display: grid;
    grid-template-columns: 17px 87px 21px 88px 14px;
    grid-template-rows: 18px 24px 73px 87px 39px 120px 24px 15px 41px 87px 73px 24px 18px;
    background-image: url("../assets/content/BattleContent1.png");
    width: 227px;
    height: 639px;
    grid-template-areas:
    "............ ............ . ............ ."
    "giveUpButton giveUpButton . ............ ."
    "............ ............ . ............ ."
    "............ enemyAvatar .. enemyScore ..."
    "............ enemyNick .... enemyDamage .."
    "............ ............ . ............ ."
    "passButton passButton ..... ............ ."
    "............ ............ . ............ ."
    "............ playerNick ... playerDamage ."
    "............ playerAvatar . playerScore ..."
    "............ ............ . ............ ."
    "............ usefulSpace .. ............ ."
    "............ ............ . ............ .";
}
.enemyScore, .playerScore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enemyScore {
    grid-area: enemyScore;
    padding: 34px 0 0 0;
}
.playerScore {
    grid-area: playerScore;
    padding: 0 0 34px 0;
}
.enemyDamage, .playerDamage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 29px;
}
.enemyDamage {
    grid-area: enemyDamage;
}
.playerDamage {
    grid-area: playerDamage;
}
.playerAvatar {
    grid-area: playerAvatar;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: solid yellow 2px;
}
.enemyAvatar {
    grid-area: enemyAvatar;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: solid yellow 2px;
}
.giveUpButton, .passButton {
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    white-space: nowrap;
    background: #2b180a;
    gap: 8px;
}
.giveUpButton {
    grid-area: giveUpButton;
}
.passButton {
    grid-area: passButton;
}
.enemyNick, .playerNick {
    display: flex;
    justify-content: center;
    align-items: center;
}
.enemyNick {
    grid-area: enemyNick;
}
.playerNick {
    grid-area: playerNick;
}
.gameField3 {
    display: grid;
    grid-template-columns: 19px 24px 12px 54px 20px 70px 11px 1fr;
    grid-template-rows: 100px 5px 100px 5px 100px 20px 100px 5px 100px 5px 100px;
    background-image: url("../assets/content/BattleContent2.png");
    width: 831px;
    height: 639px;
    grid-template-areas:
    ". weather1 . marker1 . leader1 . cards1"
    ". ........ . ....... . ....... . ......"
    ". weather2 . marker2 . leader2 . cards2"
    ". ........ . ....... . ....... . ......"
    ". weather3 . marker3 . leader3 . cards3"
    ". ........ . ....... . ....... . ......"
    ". weather4 . marker4 . leader4 . cards4"
    ". ........ . ....... . ....... . ......"
    ". weather5 . marker5 . leader5 . cards5"
    ". ........ . ....... . ....... . ......"
    ". weather6 . marker6 . leader6 . cards6"
}
.gameMarker1,
.gameMarker2,
.gameMarker3,
.gameMarker4,
.gameMarker5,
.gameMarker6 {
    height: 28px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    color: black;
    font-family: 'Content-font-manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px 0px 0px;
}
.gameMarker1,
.gameMarker2,
.gameMarker3 {
    background-image: url("../assets/home/BattleIcon2.svg");
}
.gameMarker4,
.gameMarker5,
.gameMarker6 {
    background-image: url("../assets/home/BattleIcon1.svg");
}
.gameMarker1 {
    grid-area: marker1;
}
.gameMarker2 {
    grid-area: marker2;
}
.gameMarker3 {
    grid-area: marker3;
}
.gameMarker4 {
    grid-area: marker4;
}
.gameMarker5 {
    grid-area: marker5;
}
.gameMarker6 {
    grid-area: marker6;
}
.weather1,
.weather2,
.weather3,
.weather4,
.weather5,
.weather6 {
    align-self: center;
    justify-self: center;
}
.weather1{
    grid-area: weather1;
}
.weather2{
    grid-area: weather2;
}
.weather3{
    grid-area: weather3;
}
.weather4{
    grid-area: weather4;
}
.weather5{
    grid-area: weather5;
}
.weather6{
    grid-area: weather6;
}
.cardInRow {
    width: 67px;
    height: 90px;
    cursor: not-allowed;
    overflow: scroll;
}
.enemyLeadersiege {
    grid-area: leader1;
}
.enemyLeaderranged {
    grid-area: leader2;
}
.enemyLeadermelee {
    grid-area: leader3;
}
.allyLeadermelee {
    grid-area: leader4;
}
.allyLeaderranged {
    grid-area: leader5;
}
.allyLeadersiege {
    grid-area: leader6;
}
.enemiessiege,
.enemiesranged,
.enemiesmelee,
.alliesmelee,
.alliesranged,
.alliessiege {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.enemiessiege {
    grid-area: cards1;
}
.enemiesranged {
    grid-area: cards2;
}
.enemiesmelee {
    grid-area: cards3;
}
.alliesmelee {
    grid-area: cards4;
}
.alliesranged {
    grid-area: cards5;
}
.alliessiege {
    grid-area: cards6;
}
.activeRow {
    border: 2px solid #19a976;
    background: rgba(255, 211, 106, 0.12);
}
.gameField4 {
    display: grid;
    grid-template-columns: 22fr 86fr 10fr 88fr 20fr;
    grid-template-rows: 6fr 122fr 4fr 122fr 4fr 122fr 4fr 122fr 4fr 122fr 6fr;
    background-image: url("../assets/content/BattleContent3.png");
    width: 227px;
    height: 639px;
    grid-template-areas:
    ". ..... . ..... ."
    ". card1 . card6 ."
    ". ..... . ..... ."
    ". card2 . card7 ."
    ". ..... . ..... ."
    ". card3 . card8 ."
    ". ..... . ..... ."
    ". card4 . card9 ."
    ". ..... . ..... ."
    ". card5 . card10 ."
    ". ..... . ..... .";
}
.cardInHand1,.cardInHand6,
.cardInHand2,.cardInHand7,
.cardInHand3,.cardInHand8,
.cardInHand4,.cardInHand9,
.cardInHand5,.cardInHand10 {
    width: 87px;
    height: 121px;
}
.cardInHand1 {
    grid-area: card1;
}
.cardInHand2 {
    grid-area: card2;
}
.cardInHand3 {
    grid-area: card3;
}
.cardInHand4 {
    grid-area: card4;
}
.cardInHand5 {
    grid-area: card5;
}
.cardInHand6 {
    grid-area: card6;
}
.cardInHand7 {
    grid-area: card7;
}
.cardInHand8 {
    grid-area: card8;
}
.cardInHand9 {
    grid-area: card9;
}
.cardInHand10 {
    grid-area: card10;
}
