.rooms {
  grid-area: buttons;

  margin: auto;
  display: grid;
  gap: 5px;

  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
}

.roomsImage {
    height: 536px;
    width: 721px;
}

.bottomImage {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.roomsPageContainer {
  position: relative;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content max-content max-content 50px;

  grid-template-areas:
    ". .........    ."
    ". roomsImage   ."
    ". buttons      ."
    ". line         ."
    ". ............ .";
}

.roomButton {
  padding: 10px 32px;
  gap: 10px;

  width: 179px;
  height: 56px;

  background: #1f2326;

  border: 2px solid #19a976;
  border-radius: 12px;

  color: #ffffff;
}

body {
  padding: 0;
  margin: 0;

  background: #07120a;
}

.registationBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.registationBlock > input {
  width: 250px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #274c3f;
  border-radius: 3px;
  background: #1f2326;
  color: #a4a9a5;
  outline: none;
  padding: 0 16px;
  gap: 16px;
  
  font-family: 'Content-font-rubick', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #A4A9A5;
}
.registationBlock > input::placeholder {
  color: #A4A9A5;
  opacity: 1;
}
.registrationBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f4f7fb;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gameField2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr max-content 1fr;
    grid-template-rows: 36fr max-content 77fr max-content 77fr max-content 93fr max-content 77fr max-content 77fr max-content 36fr;
    width: 128px;
    height: 639px;
    grid-template-areas:
    ". ........ . ....... ."
    ". weather1 . marker1 ."
    ". ........ . ....... ."
    ". weather2 . marker2 ."
    ". ........ . ....... ."
    ". weather3 . marker3 ."
    ". ........ . ....... ."
    ". weather4 . marker4 ."
    ". ........ . ....... ."
    ". weather5 . marker5 ."
    ". ........ . ....... ."
    ". weather6 . marker6 ."
    ". ........ . ....... .";
}
.gameMarkerEnemySiege,
.gameMarkerEnemyRanged,
.gameMarkerEnemyMelee,
.gameMarkerAllyMelee,
.gameMarkerAllyRanged,
.gameMarkerAllySiege {
    height: 28px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    color: black;
    font-family: 'Content-font-manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px 0px 0px;
}
.gameMarkerEnemySiege,
.gameMarkerEnemyRanged,
.gameMarkerEnemyMelee {
    background-image: url("../assets/home/BattleIcon2.svg");
}
.gameMarkerAllyMelee,
.gameMarkerAllyRanged,
.gameMarkerAllySiege {
    background-image: url("../assets/home/BattleIcon1.svg");
}
.gameMarkerEnemySiege {
    grid-area: marker1;
}
.gameMarkerEnemyRang {
    grid-area: marker2;
}
.gameMarkerEnemyMelee {
    grid-area: marker3;
}
.gameMarkerAllyMelee {
    grid-area: marker4;
}
.gameMarkerAllyRang {
    grid-area: marker5;
}
.gameMarkerAllySiege {
    grid-area: marker6;
}
.weather1,
.weather2,
.weather3,
.weather4,
.weather5,
.weather6 {
    align-self: center;
    justify-self: center;
}
.weather1{
    grid-area: weather1;
}
.weather2{
    grid-area: weather2;
}
.weather3{
    grid-area: weather3;
}
.weather4{
    grid-area: weather4;
}
.weather5{
    grid-area: weather5;
}
.weather6{
    grid-area: weather6;
}
.gameField3 {
    display: grid;
    grid-template-columns: 70px 11px 1fr;
    grid-template-rows: 100px 5px 100px 5px 100px 20px 100px 5px 100px 5px 100px;
    background-image: url("../assets/content/BattleContent2.png");
    width: 702px;
    height: 639px;
    grid-template-areas:
    "....... . ......"
    "leader1 . cards1"
    "....... . ......"
    "leader2 . cards2"
    "....... . ......"
    "leader3 . cards3"
    "....... . ......"
    "leader4 . cards4"
    "....... . ......"
    "leader5 . cards5"
    "....... . ......"
    "leader6 . cards6"
    "....... . ......"
}
.enemyLeaderSiege {
    grid-area: leader1;
}
.enemyLeaderRange {
    grid-area: leader2;
}
.enemyLeaderMelee {
    grid-area: leader3;
}
.allyLeaderMelee {
    grid-area: leader4;
}
.allyLeaderRange {
    grid-area: leader5;
}
.allyLeaderSiege {
    grid-area: leader6;
}
.enemiesSiege,
.enemiesRange,
.enemiesMelee,
.alliesMelee,
.alliesRange,
.alliesSiege {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.enemiesSiege {
    grid-area: cards1;
}
.enemiesRange {
    grid-area: cards2;
}
.enemiesMelee {
    grid-area: cards3;
}
.alliesMelee {
    grid-area: cards4;
}
.alliesRange {
    grid-area: cards5;
}
.alliesSiege {
    grid-area: cards6;
}
.gameField4 {
    display: grid;
    grid-template-columns: 2fr max-content 1fr max-content 2fr;
    grid-template-rows: 2fr max-content 1fr max-content 1fr max-content 1fr max-content 1fr max-content 2fr;
    background-image: url("../assets/content/BattleContent3.png");
    width: 227px;
    height: 639px;
    grid-template-areas:
    ". ..... . ..... ."
    ". card1 . card6 ."
    ". ..... . ..... ."
    ". card2 . card7 ."
    ". ..... . ..... ."
    ". card3 . card8 ."
    ". ..... . ..... ."
    ". card4 . card9 ."
    ". ..... . ..... ."
    ". card5 . card10 ."
    ". ..... . ..... .";
}
.cardInHand1 {
    grid-area: card1;
}
.cardInHand2 {
    grid-area: card2;
}
.cardInHand3 {
    grid-area: card3;
}
.cardInHand4 {
    grid-area: card4;
}
.cardInHand5 {
    grid-area: card5;
}
.cardInHand6 {
    grid-area: card6;
}
.cardInHand7 {
    grid-area: card7;
}
.cardInHand8 {
    grid-area: card8;
}
.cardInHand9 {
    grid-area: card9;
}
.cardInHand10 {
    grid-area: card10;
}
