.rooms {
  grid-area: buttons;

  margin: auto;
  display: grid;
  gap: 5px;

  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
}

.line {
  padding-top: 20px;
  grid-area: line;
  width: 400px;
  margin: auto;
}

.bottomImage {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.roomsPageContainer {
  position: relative;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content max-content max-content 50px;

  grid-template-areas:
    ". .........    ."
    ". roomsImage   ."
    ". buttons      ."
    ". line         ."
    ". ............ .";
}

.roomButton {
  padding: 10px 32px;
  gap: 10px;

  width: 179px;
  height: 56px;

  background: #1f2326;

  border: 2px solid #19a976;
  border-radius: 12px;

  color: #ffffff;
}

body {
  padding: 0;
  margin: 0;

  background: #07120a;
}

.registationBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.registationBlock > input {
  width: 250px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #274c3f;
  border-radius: 3px;
  background: #1f2326;
  color: #a4a9a5;
  outline: none;
  padding: 0 16px;
  gap: 16px;
  
  font-family: 'Content-font-rubick', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #A4A9A5;
}
.registationBlock > input::placeholder {
  color: #A4A9A5;
  opacity: 1;
}

.registrationBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f4f7fb;
}

/*.registrationBottom > button {
  cursor: pointer;
  height: 40px;
  font-size: 18px;
  border: 1px solid #19a976;
  border-radius: 8px;
  background: #1f2326;
  color: #ffffff;
  outline: none;
  padding: 0 10px;
}

.registrationBottom > p {
  cursor: pointer;
  height: 40px;
  font-size: 18px;
  color: #ffffff;*/
}
