@font-face {
  font-family: 'Title-font';
  src: url('assets/fonts/ST-Nizhegorodsky.ttf') format('truetype');
}
@font-face {
  font-family: 'Content-font-manrope';
  src: url('assets/fonts/Manrope.ttf') format('truetype');
}
@font-face {
  font-family: 'Content-font-rubick';
  src: url('assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

.title-text-Nizhegorodsky {
    font-family: 'Title-font', sans-serif;
    font-size: var(--size, 60px);
    font-weight: var(--weight, normal);
    line-height: 26px;
    color: var(--color,#f4f7fb);
    text-decoration: none;
    line-height: 1;
    margin: 0;
    padding: 0; 
}
.content-text-manrope {
    font-family: 'Content-font-manrope', sans-serif;
    font-size: var(--size, 20px);
    font-weight: var(--weight, normal);
    color: var(--color,#f4f7fb);
    text-decoration: none;
}
.content-text-rubick {
    font-family: 'Content-font-rubick', sans-serif;
    font-size: var(--size, 20px);
    font-weight: var(--weight, normal);
    color: var(--color,#f4f7fb);
    text-decoration: none;
    margin: 2px 0px 2px 0px;
}
.button {
    color: #a4a9a5;
    position: relative;
}
.button:hover {
    color: #f4f7fb;
    text-shadow: 0 0 8px rgba(25, 169, 118, 0.6); 
}
.button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    
    height: 4px;
    border-radius: 2px;
    
    background-color: #19a976;
    transition: width 0.3s ease;
}
.button:hover::after {
    width: 100%;
    box-shadow: 
        0 0 6px #19a976, 
        0 0 15px rgba(25, 169, 118, 0.8);
}
.overlay-element {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: var(--y,100px);
    left: var(--x,100px);
    
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.empty-block {
    height: var(--height,100px);
    width: var(--width,100px);
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    background-image: url('assets/home/background.png'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
    background-color: #07120a; 
}
p {
    text-align: center;
    max-width: 1340px;
}
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
    "marginLT header marginRT"
    "margiLM main marginRM"
    "marginLB footer marginRB";

    align-items: start;
}


.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 124px;
}
.contentVertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    align-items: center;
}
.contentHorizontal {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;    
    align-items: center;
}
.decorated-text-container {
    display: flex;
    gap: var(--gap-y, 20px) var(--gap-x, 20px); 
    justify-content: center;
    align-items: center;
}
.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sizedImage {
    width: var(--width,100%);
    height: var(--height,100%);
}
.greenButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: max-content;
    box-sizing: border-box; 
    padding: 0 32px;
    background-image: url('assets/home/Buttom.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: transparent;
    color: #F4F7FB;
    border: none; 
    cursor: pointer;
    white-space: nowrap; 
}
.cursorPointer {
    cursor: pointer;
}
